@theme {
  /* Main */
  --color-moamoa-50: #E3EBFD;
  --color-moamoa-100: #B4C9F9;
  --color-moamoa-200: #84A8F5;
  --color-moamoa-300: #5586F1;
  --color-moamoa-400: #2664ED;
  --color-moamoa-500: #114CCF;
  --color-moamoa-600: #0D3BA0;
  --color-moamoa-700: #092A71;
  --color-moamoa-800: #051842;
  --color-moamoa-900: #010713;

  /* Secondary */
  --color-secondary: #FEF7E5;

  /* 도토리 획득 */
  --color-acorn: #B75A25;

  /* State */
  --color-positive: #2664ED;
  --color-informative: #56D7A6;
  --color-warning: #FE5353;
  --color-delay: #FBCF4A;
  
  /* Green */
  --color-green-50: #F3FFFA;
  --color-green-100: #E4FBF3;
  --color-green-200: #C9F5E4;
  --color-green-300: #A8EAD1;
  --color-green-400: #7FE1BC;
  --color-green-500: #56D7A6;
  --color-green-600: #30CA8F;
  --color-green-700: #26A172;
  --color-green-800: #1C7855;
  --color-green-900: #124F38;

  /* Red */
  --color-red-50: #FFF7F5;
  --color-red-100: #FFDADB;
  --color-red-200: #FFBEBF;
  --color-red-300: #FD8585;
  --color-red-400: #FE5353;
  --color-red-500: #F02C2C;
  --color-red-600: #D9140D;
  --color-red-700: #BE0B05;
  --color-red-800: #9F0A01;
  --color-red-900: #7D0800;

  /* Yellow */
  --color-yellow-50: #FFFCF5;
  --color-yellow-100: #FFF9E5;
  --color-yellow-200: #FFF2C9;
  --color-yellow-300: #FFE89B;
  --color-yellow-400: #FFE073;
  --color-yellow-500: #FBCF4A;
  --color-yellow-600: #FAC219;
  --color-yellow-700: #DCA605;
  --color-yellow-800: #AA8004;
  --color-yellow-900: #785B03;

  /* Gray */
  --color-gray-50: #FCFCFC;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EEEEEE;
  --color-gray-300: #E0E0E0;
  --color-gray-400: #BDBDBD;
  --color-gray-500: #9E9E9E;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #222222;

  /* CTA  */
  --color-cta: #5586F1;

  /* Base Colors */
  --color-black: #191919;
  --color-white: #FFFFFF;
}