@import 'pretendard/dist/web/variable/pretendardvariable.css';

.heading-1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.heading-2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.heading-3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.heading-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.body-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.body-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.body-3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.body-4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.detail {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.detail-sm {
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
}